
# Build files
**/target
*.pyc
**/*.rs.bk

# IDE files
.vscode
.idea
*.ipynb

# Storages/databases
/storage
alice-database
test-storage
wallet/test-storage
*/walletdb
offline_walletdb
online_walletdb
/pingdb
/pongdb
backup

# JSON files
address.json
addresses.json
prepared_transaction.json
signed_transaction.json

# Miscellaneous
*.log
.env
*.stronghold
!**/tests/**/**.stronghold
.DS_Store
book


