[workspace]
resolver = "2"
members = [
	"bindings/core",
	"bindings/nodejs",
	"bindings/nodejs-old",
	"bindings/python",
	"bindings/wasm",
	"cli",
	"sdk",
]

[profile.dev]
panic = "abort"

# Necessary to get coverage to work as for some reason using a custom profile breaks it
[profile.test]
debug = 0
incremental = false

[profile.ci]
inherits = "dev"
debug = 0
incremental = false

[profile.release]
panic = "abort"

[profile.production]
codegen-units = 1
inherits = "release"
lto = true
panic = "abort"
strip = "symbols"
