[MESSAGES CONTROL]
disable=missing-module-docstring,
	line-too-long, # enforced by PEP8 format checker
	broad-exception-raised,
	invalid-name, # files that starts with number
	duplicate-code,
	consider-using-with,
	consider-using-f-string,
	fixme, # TODOS 
	too-many-instance-attributes,
	too-many-arguments,
	unused-argument # dict(locals()) doesnt work with this
	


