[MESSAGES CONTROL]
disable=missing-module-docstring,
	line-too-long, # enforced by PEP8 format checker
	broad-exception-raised,
	invalid-name, # files that starts with number
	duplicate-code,
	consider-using-with,
	consider-using-f-string,
	fixme, # TODOS 
	too-many-instance-attributes,
	too-many-arguments,
	too-few-public-methods

[TYPECHECK]
generated-members=from_dict,to_dict,to_json # Made from @json