name: Wasm publish to NPM

on: workflow_dispatch

env:
  CARGO_INCREMENTAL: 0

jobs:
  publish-wasm:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: bindings/wasm

    steps:
      - uses: actions/checkout@v3

      - name: Set up Rust
        uses: ./.github/actions/setup-rust
        with:
          targets: "wasm32-unknown-unknown"

      # Download a pre-compiled wasm-bindgen binary.
      - name: Install wasm-bindgen-cli
        uses: jetli/wasm-bindgen-action@v0.2.0
        with:
          version: "0.2.92"

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install Yarn
        run: npm i -g yarn

      - name: Install JS dependencies
        run: yarn

      - name: Build project
        run: yarn build

      - name: Publish WASM bindings to NPM
        shell: sh
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn publish --access public

      - name: Prepare Github release
        id: prepare_release
        run: |
          yarn pack
          echo "tag_name=iota-sdk-wasm-v$(cat package.json | jq -r '.version')" >> "$GITHUB_OUTPUT"

      - name: Upload package to Github release
        uses: softprops/action-gh-release@v1
        with:
          # Token expires Jan 25, 2025
          token: ${{ secrets.GH_RELEASE_PUBLISH_PAT }}
          body: "https://github.com/iotaledger/iota-sdk/blob/develop/bindings/wasm/CHANGELOG.md \n https://github.com/iotaledger/iota-sdk/blob/develop/bindings/nodejs/CHANGELOG.md"
          files: bindings/wasm/*.tgz
          tag_name: ${{ steps.prepare_release.outputs.tag_name }}
