name: Test coverage

on:
  push:
    branches: [develop, production, 2.0]
    paths:
      - ".github/workflows/coverage.yml"
      - ".github/actions/**"
      - "coverage.sh"
      - "**.rs" # Include all rust files
      - "**Cargo.toml" # Include all Cargo.toml files
      - "**Cargo.lock" # Include all Cargo.lock files
      - "!**/bindings/**" # Exclude all bindings
      - "!cli/**" # Exclude CLI
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  collect-coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: nightly
          components: llvm-tools-preview

      - name: Install required packages (Ubuntu)
        run: |
          sudo apt-get update
          sudo apt-get install libudev-dev libusb-1.0-0-dev

      - name: Install llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Start private tangle
        uses: "./.github/actions/private-tangle/setup"

      - name: Collect coverage data
        run: >
          cargo llvm-cov nextest 
          --lcov 
          --output-path coverage.info 
          --tests 
          --package iota-sdk 
          --all-features 
          --run-ignored all
          --test-threads "num-cpus"
          --retries 2

      - name: Tear down private tangle
        if: always()
        uses: "./.github/actions/private-tangle/tear-down"

      - name: Upload coverage data to Coveralls
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.info
          flag-name: Unit
