name: Build and run specific tests on a private tangle

on:
  push:
    branches: [develop, production]
    paths:
      - ".github/workflows/private-tangle-tests.yml"
      - ".github/actions/**"
      - "**.rs"
      - "**/tests/**"
      - "**/test/**"
      - "**Cargo.toml"
      - "**Cargo.lock"
      - "!cli/**" # Exclude CLI
  pull_request:
    branches: [develop, production]
    paths:
      - ".github/workflows/private-tangle-tests.yml"
      - ".github/actions/**"
      - "**.rs"
      - "**/tests/**"
      - "**/test/**"
      - "**Cargo.toml"
      - "**Cargo.lock"
      - "!cli/**" # Exclude CLI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_INCREMENTAL: 0

jobs:
  crate:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install required packages
        run: |
          sudo apt-get update
          sudo apt-get install libudev-dev libusb-1.0-0-dev

      - name: Install Nextest
        uses: taiki-e/install-action@nextest

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Start private tangle
        uses: "./.github/actions/private-tangle/setup"

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: nextest
          args: run --tests --all-features --no-fail-fast --run-ignored ignored-only --hide-progress-bar --cargo-profile ci

      - name: Tear down private tangle
        if: always()
        uses: "./.github/actions/private-tangle/tear-down"
